    <% extends  %>

    <!-- User is requesting single object; server has found it -->
    <% if (myproduct) { %>
        <div class="col-lg-6 mx-auto">
            <p><%= productObj.title %></p>
            <p><%= productObj.descr %></p>
            <p><%= productObj.price %></p>   
        </div>
        
    <% } else { %>
        <!-- if PRODUCTS EXISTS -->
        <% if (products && products.length > 0) { %>
        
        <!-- Products Table -->
        <div class="col-lg-9 mx-auto">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Desc</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="table-row">

                <!-- Display row for every record in DB -->
                <% products.forEach(product => { %>
                <tr>
                    <th scope="row"><%= product.id %></th>
                    <td><%= product.title %></td>
                    <td><%= product.descr %></td>
                    <td><%= product.price %></td>
                    <td>
                        <a href="#table-row">view</a> | 
                        <a href="#table-row">edit</a> | 
                        <a href="#table-row">delete</a>
                    </td>
                </tr>
                
                <% }); %>
            </tbody>
        </table>
        </div>
        <% } else { %>
            <div>such empty :(</div>
        <% } %>
    <% } %>